body{
    background-color: aqua;
    font: normal 15pt Arial;
}
header{
    color: white;
    text-align: center;
}
section{
    width: 38%;
    margin: auto;
    padding: 15px;
    background-color:  white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(197, 193, 193);
}
div{
    text-align: center;
    padding: 2%;
}
.botao{
    background-color: aqua;
    color: white;
    border: none;
    padding: 3%;
    font-size: large;
    border-radius: 5px;
    font-weight: 700;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}